*{
    margin: 0%;
    padding: 0%;
    font-family: 'Domine', serif;
    scroll-behavior: smooth;
}

*, *:before, *:after{
-webkit-box-sizing: border-box;
-moz-box-sizing:border-box;
box-sizing: border-box;
}

$bojaKosulje:rgb(168,188,189);
$ljubicasta:rgb(149,69,160);
$skoroCrna:rgb(10,10,12);
$crna:black;
$bela:white;
$ljubicastborder:3px solid $ljubicasta;

@mixin opacity($opacity: 0.5) {
    filter: alpha(opacity=$opacity*100);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=#{$opacity*100});
    opacity: $opacity;
}
@mixin fleksrow{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
@mixin flekscolumn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
@mixin rastojanje{
    @include fleksrow;
    padding: 10%;
}
@mixin tekst-center{
    text-align:center;
}
a{
    text-decoration: none;
}
.line{
    width: 100%;   
    background: linear-gradient(to right,$skoroCrna,$bojaKosulje);
    h3{
        padding:0.7em;
        font-size: 2.5em;
        color: $ljubicasta;
    }
}

menu{
    background-color: rgb(10,10,12);
    width: 20vw;
    height: 100vh;
    box-shadow: 0px 0px 10px $ljubicasta;
    position: fixed;
    z-index: 999;
    @include flekscolumn;
    #AKfigure{
        img{
            width: 60%;
            border-radius: 50%;
            border:$ljubicastborder;
            margin: 1vw auto;
        }
    }
    #AKime{
        padding: 2vw 0vw;
        font-size: 2vw;
        color: $ljubicasta;
    }
    #AKzanimanje{        
        font-size: 1.5vw;
        color: $ljubicasta;
    }
    #AKime,#AKfigure,#AKzanimanje{
        @include tekst-center;
    }
    nav{   
        ul{
            margin-top:1.5vw;
            margin-bottom: 1.5vw;
            li{
                list-style-type: none;               
                a{
                    font-size: 1.2vw;
                    display:table;
                    margin:0 auto;
                    padding: 1.5vw;
                    color: $bojaKosulje;
                }
            }
        }
    }
}

.container{
    header{
        width: 100%;
        height: 100vh;
        background-image: url('../img/aklap.jpg');
        background-size: cover;
        article{
            width: 100%;
            height: 100%;
            position: relative;
            background-color:$crna;
            @include opacity(0.80);
            h1{
                position: absolute;
                top:45vh;
                left:4vw;
                font-size: 5vw;
                background: -webkit-linear-gradient($ljubicasta,$bojaKosulje);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-family: 'Rosario', sans-serif;
            }
        }
    }
    width: 80vw;
    margin-left: 20vw;
    background-image: url('../img/squared.jpg');
    background-size: cover;
    background-attachment: fixed;        
    #aboutMe{
        position: relative;
        height: 50vw;
        width: 60vw;
        padding: 10vw;
        margin:0px auto;
        article{
            position: absolute;
            z-index:3;
            width: 50%;
            top: 15%;
            left: 6%;   
           h3{
               font-size: 3vw;
               margin-bottom: 2vw;
               border-bottom:$ljubicastborder;
               width: 60%;
           }
           p{        
            background-color: $skoroCrna;
            color: $bojaKosulje; 
            padding: 3vw;     
            font-size: 1.5vw;
            border-top: $ljubicastborder;
            border-right: $ljubicastborder;
                &:hover{
                    border-top:$ljubicastborder;
                    border-right: $ljubicastborder;
                    box-shadow: 0px 0px 15px 0px $bojaKosulje;
                }
            }
        }
        figure{
            position: absolute;
            z-index: 2;
            right:0;
            img{
                width: 100%;
                max-width:30vw;
                height: auto;
            }
            &:hover{
                z-index: 3;
                img{               
                box-shadow: 0px 0px 15px 0px $bojaKosulje;
                border-left: $ljubicastborder;
                border-bottom: $ljubicastborder;
                }
            }
        }
    }
    #skills{
        @include rastojanje;
        .zaPrelom{
            @include fleksrow;
            width: 50%;
            figure{
                background-color:$bela;
                box-shadow: 0px 5px 5px 5px $bojaKosulje;
                img{
                    max-width: 10vw;
                    width: 100%;
                    height: auto;
                    margin: auto;
                }
                figcaption{
                    font-size: 1.2vw;
                    padding: 1vw;
                    @include tekst-center;
                    font-weight: bold;
                }
            }
         
        }
    }
    #projects{
        padding:7vw;
        .red{
            @include fleksrow;       
        .project{
            position: relative;
            margin: 2vw;
            width: 45em;
            height: auto;            
            img{
                width: 100%;
                height: auto;
                border-radius: 4%;
                box-shadow: 0px 0px 5px 0px gray;
            }
            .aboutProject{
                height: auto;
                position:absolute;
                top:0;
                left:0;
                right: 0;
                bottom: 0;
                background-color: $crna;
                @include opacity(0.80);
                padding: 3vw;
                display: none;
                color: $bela;;
                @include tekst-center;
                border-radius: 4%;
                article{
                    p{
                        margin-bottom: 3vw;
                    }
                    span{
                        padding: 0.5vw;
                        border:$ljubicastborder;
                        color: $bela;;
                        &:hover{
                            background-color: $bela;;
                            color:$crna;
                            font-weight: bold;
                        }
                    }
                }
            }
            &:hover{
                .aboutProject{
                display: block;
                }
            }
        }
    }
    }
    #contact{
        @include rastojanje;
        form{
            input,textarea,#posalji{
                width: 25vw;
                margin: 1vw;
                padding: 0.7vw;
                border: 1px solid $ljubicasta;
                border-radius: 4%;
            }
            #posalji{
                background-color: $ljubicasta;
                margin-left:1.5vw;
                width: 10vw;
                i{
                    font-size: 1.5vw;
                }
            }
                
        }
        article{
            iframe{
                width: 22em;
                height: 20em;
            }
        }
        
    }
    #linkovi{
        font-size: 3vw;
        @include tekst-center;
        margin-bottom: 3vw;
        a{
            margin:1vw;
        }
    }
    footer{
        @include fleksrow;
        background-color: $skoroCrna;
        padding:1.5vw;
        p{
            color: $bojaKosulje;
            margin-top: 0.5vw;
            float: left;
            span{
                color: $ljubicasta;
            }
        }
        #putanje i{
            font-size: 2vw;
            margin-left: 2vw;
        }
    }
}




      