*{
    margin: 0%;
    padding: 0%;
}

body{    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

header{
    background-color: rgb(10,10,12);
    width: 20vw;
    height: 100vh;
    position: fixed;
    z-index: 999;
    #AKfigure{
        img{
            width: 60%;
            border-radius: 50%;
            border:3px solid purple;
            margin: 1vw auto;
        }
    }
    #AKime{
        padding: 2vw 0vw;
        font-size: 2vw;
    }
    #AKzanimanje{        
        font-size: 1.5vw;
    }
    #AKime,#AKfigure,#AKzanimanje{
        text-align: center;
    }
    nav{   
        ul{
            padding: 4vw 0vw;
            li{
                list-style-type: none;               
                a{
                    text-decoration: none;
                    font-size: 1.5vw;
                    display:table;
                    margin:0 auto;
                    padding: 1.5vw;
                }
            }
        }
    }
}

.container{
    width: 80vw;
    margin-left: 20vw;
    background-image: url('../img/bgy.jpg');
    background-size: cover;
    background-attachment: fixed;        
    #aboutMe{
        position: relative;
        height: 60vw;
        width: 60vw;
        padding-top: 10vw;
        margin-left: 10vw;
        article{
            position: absolute;
            z-index:3;
            width: 50%;
           top: 15%;
           left: 6%;
           h3{
               font-size: 3vw;
               margin-bottom: 2vw;
           }
           p{        
            background-color: rgb(10,10,12);
            color: white; 
            padding: 3vw;     
            font-size: 1.5vw;
            animation: mymove 5s infinite;
         }
        }
        figure{
            position: absolute;
            z-index: 2;
            right: 0;
            opacity: 0.8;
        }
    }
    @keyframes mymove {
        50% {box-shadow: 20px 20px 50px 15px gray;}
    }
    
    @mixin opacity($opacity: 0.5) {
        filter: alpha(opacity=$opacity*100);
        filter: progid:DXImageTransform.Microsoft.Alpha(opacity=#{$opacity*100});
        opacity: $opacity;
      }
      $primari:rgb(0,0,0);
      #hi{
        width: 100%;
        height: 90vh;
        background-image: url('../img/aklap.jpg');
        background-size: cover;
      
        article{
            width: 100%;
            height: 100%;
            position: relative;
            background-color:$primari;
            @include opacity(0.80);
                h1{
                    position: absolute;
                    top:35vh;
                    left:5vw;
                    font-size: 5vw;
                    color:gray;
                }
            }
        } 
}




      